.cardsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
}

.buttonWrapper button {
  padding: 0.4rem 1rem;
  border-radius: 9999px;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  background: var(--neutral-0);
  color: var(--neutral-900);
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.buttonWrapper button.Active {
  background: var(--red-500);
  color: var(--neutral-0);
}

body.dark .buttonWrapper button {
  background: var(--neutral-700);
  color: var(--neutral-0);
}

body.dark .buttonWrapper button.Active {
  background: var(--red-500);
  color: var(--neutral-0);
}

@media (max-width: 600px) {
  .cardsHeader {
    flex-direction: column;
    gap: 20px;
  }
}
