.titlecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  background: var(--neutral-0);
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
}

body.dark .titlecontainer {
  background: var(--neutral-800);
}

.titlecontainer img:first-child {
  height: auto;
  width: auto;
  max-height: 48px;
}

.titlecontainer img:last-child {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
