.titlecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  background-color: var(--neutral-0);
  border-radius: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
  margin-top: 2.5rem;
}

.titlecontainer img {
  display: block;
}

.titlecontainer img:first-child {
  height: 40px;
}

.titlecontainer img:last-child {
  height: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
  background-color: #eeeeee;
  padding: 13px;
  border-radius: 12px;
}

.titlecontainer img:last-child:hover {
  transform: scale(1.12);
}
